[Unit]
Description=Remote clipboard server

[Install]
WantedBy=default.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=%h/.local/bin/clip -l
