[Unit]
Description=Remote clipboard server

[Install]
WantedBy=default.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=bash -c '%h/.local/bin/clip -l 127.0.0.1'
