/.ssh/** filter=git-crypt diff=git-crypt
/.ngrok2/ngrok.yaml filter=git-crypt diff=git-crypt
/.config/syncthing/cert.pem* filter=git-crypt diff=git-crypt
/.config/syncthing/https-key.pem* filter=git-crypt diff=git-crypt
/.config/syncthing/key.pem* filter=git-crypt diff=git-crypt
/.config/syncthing/csrftokens.txt* filter=git-crypt diff=git-crypt
/.kube/config.d/* filter=git-crypt diff=git-crypt
/.aws/credentials filter=git-crypt diff=git-crypt
/.docker/** filter=git-crypt diff=git-crypt
.smbcredentials filter=git-crypt diff=git-crypt
.gist filter=git-crypt diff=git-crypt
.gnupg filter=git-crypt diff=git-crypt
/.config/doctl/config.yaml* filter=git-crypt diff=git-crypt
/.conky/conky-dash/gmail.py filter=git-crypt diff=git-crypt
.rclone.conf filter=git-crypt diff=git-crypt
.flyrc filter=git-crypt diff=git-crypt
/.config/syncthing/* filter=git-crypt diff=git-crypt
/.kube/** filter=git-crypt diff=git-crypt
/.config/linode-cli filter=git-crypt diff=git-crypt
/.ngrok2/** filter=git-crypt diff=git-crypt
/.config/mkcert filter=git-crypt diff=git-crypt
/.config/github-copilot/** filter=git-crypt diff=git-crypt
/.config/linode filter=git-crypt diff=git-crypt
/.config/pia/auth.txt filter=git-crypt diff=git-crypt
