{{- $baseFile := mustRegexReplaceAllLiteral ".tmpl$" .chezmoi.sourceFile "" -}}
{{- $hostFile := printf "%s__h.%s" $baseFile .chezmoi.hostname -}}
{{- $defaultFile := printf "%s__default" $baseFile -}}
{{- if (lstat $hostFile) -}}
{{ include $hostFile }}
{{- else -}}
{{ include $defaultFile }}
{{- end -}}
