# ligature checks ...  ->  =>
font-family = "FiraMono Nerd Font"
window-inherit-font-size = true
font-size = 11
#theme = tokyonight
theme = Nightfox
{{- $fish := findExecutable "fish" (list ".local/bin" "/bin" "/opt/homebrew/bin") -}}
{{- if ne $fish nil }}
command = {{ $fish }}
{{- end }}
